################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/horizontal_property_app/FileContentIndex
/.vs/slnx.sqlite
