.invalid {
    border: solid 1px #fd5631;
}

.register-banner {
    background-image: url('../../assets/img/Property2.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: contain;
}